.border_cat
{
border-style: solid;
border-radius: 15px;
margin: 10px;
padding: 15px;
max-width: 250px;
min-height: 510px;
}


.custom-style {
    background: linear-gradient(to bottom right, #ffafbd, #ffc3a0, #ffd8a8, #ffebae);
    font-size: 23px;
    height: 100%; 
}

.cat_cont
{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    justify-content: space-evenly
}

.photo
{
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 10%;
}

.tekst
{
    margin: 10px;
}